.estilo{
    background-color: rgb(249 115 22 / var(--tw-text-opacity));
    color: white;
    padding: 5px 100px;
    border-radius: 10px;
    width: 100%;

}

.estilo2{
    background-color: rgb(249 115 22 / var(--tw-text-opacity));
    color: white;
    padding: 5px 81px;
    border-radius: 10px;
    width: 100%;

}

.estilo3{
    background-color: rgb(249 115 22 / var(--tw-text-opacity));
    color: white;
    padding: 5px 92.5px;
    width: 100%;
    border-radius: 10px;
}

