<div class="bg-slate-800 h-screen text-white md:px-48 py-6 mx-auto">
    <div class="flex flex-row md:space-x-10">
        <div class=" hidden md:block py-10 bg-white text-slate-800 h-[95vh] rounded-lg">
            <div class="flex flex-col text-center px-10 w-[320px]">
                <div class="mx-auto mb-60">
                    <h1 class="text-5xl">Anime List</h1>
                </div>
                <div class="flex flex-col space-y-20">
                    <div class="link">
                      <div class="font-semibold cursor-pointer p-2" routerLink="" routerLinkActive="estilo" [routerLinkActiveOptions]="{exact: true}">
                        <a>Inicio</a>
                        <div class="cir-1"></div>
                        <div class="cir-2"></div>
                        <div class="cir-3"></div>
                      </div>
                    </div>
                    <div class="link">
                      <div class="font-semibold cursor-pointer p-2" routerLink="Personajes" routerLinkActive="estilo2" [routerLinkActiveOptions]="{exact: false}">
                        <a>Personajes</a>
                        <div class="cir-1"></div>
                        <div class="cir-2"></div>
                        <div class="cir-3"></div>
                      </div>
                    </div>
                    <div class=" link">
                      <div class="font-semibold cursor-pointer p-2" routerLink="Animes" routerLinkActive="estilo3" [routerLinkActiveOptions]="{exact: true}">
                        <a>Animes</a>
                        <div class="cir-1"></div>
                        <div class="cir-2"></div>
                        <div class="cir-3"></div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full relative">
           <router-outlet></router-outlet>
        </div>
    </div>
</div>
