<div class="bg-slate-800 h-screen text-white md:px-48 py-8 mx-auto">
    <div class="flex flex-row md:space-x-10">
        <div class=" hidden md:block py-10 bg-white text-slate-800 h-[95vh] rounded-lg">
            <div class="flex flex-col text-center px-10">
                <div class="mx-auto mb-60">
                    <h1 class="text-5xl">Anime List</h1>
                </div>
                <div class="flex flex-col space-y-20">
                    <div class="font-semibold cursor-pointer" routerLink="" routerLinkActive="estilo" [routerLinkActiveOptions]="{exact: true}">
                      <a>Inicio</a>
                    </div>
                    <div class="font-semibold cursor-pointer" routerLink="Personajes" routerLinkActive="estilo2" [routerLinkActiveOptions]="{exact: true}">
                      <a>Personajes</a>
                    </div>
                    <div class="font-semibold cursor-pointer" routerLink="Animes" routerLinkActive="estilo3" [routerLinkActiveOptions]="{exact: true}">
                      <a>Animes</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full relative">
           <router-outlet></router-outlet>
        </div>
    </div>
</div>
