.estilo{
    background-color: rgb(249 115 22 / var(--tw-text-opacity));
    color: white;
    width: 100%;
}

.estilo2{
    background-color: rgb(249 115 22 / var(--tw-text-opacity));
    color: white;
    width: 100%;

}

.estilo3{
    background-color: rgb(249 115 22 / var(--tw-text-opacity));
    color: white;
    width: 100%;
}

.link{
    position: relative;
    overflow: hidden;
    z-index: 1;
}


a{
    position: relative;
    z-index: 2;
}

.link:hover a{
    color: white;
}

.link .cir-1,
.link .cir-2{
    position: absolute;
    width: 120%;
    height: 120%;
    right: 100%;
    background-color: rgb(250, 157, 90);
    border-radius: 100%;
    z-index: -1;
    transform: scale(1);
    transition: all 0.2s;
}

.link .cir-1{
    top: 20%;
}


.link .cir-2{
    bottom: 10%;
    transition-delay: .1s;
}


.link:hover .cir-1{
    right: -10%;
}

.link:hover .cir-2{
    right: -10%;
}






